In [2]:
A = ['sun','mon','tue','wed']

n = len(A)

print(A[-n])

sun

In [3]:
# Data types which are collections

Lists
tuples
sets
dictionaries

# Iterable types (can be looped through)
# object is able to return its members one by one
# loops are used to iterate

strings
lists
sets
dictionaries
tuples

# mutable 

List
Dict
Sets

# Immutable

Int
float
tuple
str
bool

'ab'

In [4]:
S1 = 'cauliflower'

vowels = a e i o u


# if a is there ----condition else---
#

'Y'

In [ ]:
# collections has although a different topic

## Variable assignment

In [7]:
A = 3

#variable/name = object

# = assignment operator like we have + - * / (arithmatic operators)

# how many objects are there in [[1,2],[3,4]]

L1 = [1,2,[3,'Keerthana']]

6 objects


D1 = [11,2,[3,'Keerthana'],{1:'mon',2:'tue'}]

<class 'list'>

In [ ]:
D1 = {'1:'mon',2:'tue',3:['wed','thu','fri']}

In [9]:
D2 = {1:'One','2':'TWO','2':'two'}

D2[1]

'One'

In [19]:
# mutable objects inside immuatable objects don't lose their mutablility
# update, insert, delete
# Datatype conversion
#an int, an int, a list


T1 = (1,2,[10,20])
print(T1[2])
print(id(T1))
print(id(T1[2]))



T1[2][0] = 10000

#an int, an int, a list
print(T1)
print(id(T1))
print(id(T1[2]))

[10, 20]
4378595400
4378588552
(1, 2, [10000, 20])
4378595400
4378588552

In [ ]:
D1 = ([1,2,3],'india')

D1[0][0] = 100

A = [(1,2,3),100]

print(type(A[0]))

A[0][1]=100
# mutation of tuple

A[1] =10000
#mutation of list


#S1 = {1,2,3}

In [ ]:
1) Disctionary keys are unique"


2) Which one is immutable

1) Dict
2) Set
3) List
4) string

3)Indexing is not possible in?

1) list
2) tuple
3) set
4) string

In [27]:
# list to strings <->

S1 = "My name is Yogesh"

L1 = list(S1)
# create a string of all charatcters including spaces

L2= [1,2]

S1 = str(L2)
print(type(S1))

print(S1[2])

# All data types can not be converted into each other sometimes of no use.

<class 'str'>
,

In [ ]:
# Arithmatic

Addition +
Substraction - 
multiplication *
Division /
modulus %----remainder
Exponentiation **
floor division // # the nearest integer value to its lower integer
                  # wipes of decimal and after it
                  # ruound off down

In [36]:
print(10/3)

# 10= 3*3+1

print(120%50)

print(4**3) # 2*2*2

3.3333333333333335
20
64

In [40]:
print(11//4)

2

In [42]:
74//7

10