# DS PYTHON

## Day 01

In [ ]:
#Today is the first day of python series.

In [ ]:
#Roadblocks
1. Redo the steps that I told you
2. Take community support (stack overflow)
3. Forward your queries to me (teams)

In [ ]:
#First weeks expectaions

All must have pyton installation done
Try Jupyter online 
Stay motivated

In [3]:
A= 2
b=3
print(A/b)

0.6666666666666666

## Day 02

### Topics for today

#### 1. Jupyter environment
#### 2. Coding/ Marking down
#### 3. Why data types
#### 4. BuiltIn data types
#### 5. Different uses

In [ ]:
a) Help> keyboard shortcuts
b) Kernel = computational engine (reading/exceuting/presenting)
c) switch between code and markdown for documenation and coding
d) [] details of execution : order of execution , * for a busy/under execution cell

In [5]:
a =4.5

name = input('type your name')
print('hello', name)

type your nameYogesh
hello Yogesh

#### DATA TYPES

In [ ]:
Data is information

Insta post is data
amazon bucket list is a data
QR code
Stock market trend
google search
account balance
Edyoda id
Gmail profile picture
Phone no
Weather

In [ ]:
# While coding in a language we need to store information/data
# In order to so we will need data types to store data.
 
# Because we have different types of data, we need different types of Data Types
# One method of storing may be better than the other, hence multiple types

In [ ]:
1) int :   Intergers -1, 1, 1000, 50 
    
2) float : Decimal numbers (3.141, 3.8, 8, 58.0, 1, 25,0.08, 0.08)
    
3) str :   string 'Sachin', 'sekhar'...  characters surrounded by single quotes (''), double quotes (""), 
            triple quotes("""""")
        
4) list :  collection of orderd items [9911667755, 7788665533 , 'EDYODA', 3.9.7] mutable (Editable)
    
5) tuple:  collection of items  (12,14,'Python',9.2) immutable (not editable)
    
6) dict :  Dictionary stores data points in the form of key, value pairs
           {'Uday': 3.6,'Akansha':3.9,'Athish':[2.7,3.10]}
           keys have to be unique
            
           {key1:value,key2:value}
           
7) set  :  collection of keys. Keys are unique, immuatable. Sets are mutable.
    
8) bool :  True, False
    
9) None : Nonetype object

In [65]:
c= -8
print(type(c))

<class 'int'>

In [17]:
d = '''this is "EDYODA" python's second class'''
print(d)

this is "EDYODA" python's second class

In [ ]:
# multiline commnet

'''
A  is a good boy
c is not a good girl
'''

In [24]:
# version = name:[version, installed?]

version = {'Uday': 'INDIA','Akansha':[3.9,False],'Athish':[[2.7,3.10],True],'UDAY2':[3.6,None]}
print(version)

{'Uday': 3.7, 'Akansha': 3.9, 'Athish': [2.7, 3.1], 'UDAY': 3.6}

In [23]:
'Uday' == 'UDAY'

False

In [34]:
L1 =[3,'Apple','Apple',3]
print(L1)

S1 = set([3,'Apple','Apple',3])
print(S1)

SyntaxError: invalid syntax (<ipython-input-34-655af5b48eeb>, line 4)

In [33]:
'yogiraj' == 'yogiraaj'

False

In [38]:


a = list()
b = []

a =list()
print(a)

[]

In [46]:
0 + False + True

1

### Indexing

##### In python indexing starts from 0

In [54]:
L2 = [10000,'Apple',1,2,3,5,8,13,21]

L2[1] = 'Mango'
 # mutability
print(L2)

T1 = (10000,'Apple',1,2,3,5,8,13,21)

T1[1] = 'Mango'
 #Immutability
print(T1)

[10000, 'Mango', 1, 2, 3, 5, 8, 13, 21]

TypeError: 'tuple' object does not support item assignment

In [64]:
version = {'Uday': [3.7,True],'Akansha':[3.9,False],'Athish':[[2.7,3.10],True],'UDAY2':[3.6,None]}
# details of Akansha

print(version["Akansha"][1])

print(version[1])

False

KeyError: 1

In [61]:
str1 = "EDYODA_PYTHON"
print(str1[6])

_

In [74]:
A = None
B = None
C = None


print(type(A))

<class 'NoneType'>

In [75]:
12 == 1

False

In [70]:
True == 1

True

In [73]:
0==False

True

In [ ]:
True and 1 are same thing.


list[order]
DICT[key]