In [1]:
A ='''Python was conceived in the late 1980sby Guido van Rossum at Centrum Wiskunde & Informatica (CWI) in the
Netherlands as a successor to the ABC programming language, which was inspired by SETL, capable of exception 
handling and interfacing with the Amoeba operating system.Its implementation began in December 1989.[41] Van 
Rossum shouldered sole responsibility for the project, as the lead developer, until 12 July 2018, when he announced 
his "permanent vacation" from his responsibilities as Python's "benevolent dictator for life", a title the Python 
community bestowed upon him to reflect his long-term commitment as the project's chief decision-maker. In 
January 2019, active Python core developers elected a five-member "Steering Council" to lead the project.

Python 2.0 was released on 16 October 2000, with many major new features, including a cycle-detecting garbage 
collector (in addition to reference counting) for memory management and support for Unicode.

Python 3.0 was released on 3 December 2008. It was a major revision of the language that is not 
completely backward-compatible. Many of its major features were backported to Python 2.6.x and 2.7.x version series. 
Releases of Python 3 include the 2to3 utility, which automates the translation of Python 2 code to Python 3.

Python 2.7's end-of-life date was initially set at 2015 then postponed to 2020 out of concern that a large body of 
existing code could not easily be forward-ported to Python 3.No more security patches or other improvements 
will be released for it. With Python 2's end-of-life, only Python 3.6.xand later are supported.

Python 3.9.2 and 3.8.8 were expedited as all versions of Python (including 2.7) had security issues, leading 
to possible remote code executionand web cache poisoning.'''


### Assignments:


# upper case first character words (Nouns)----istitle()
# lengthiest word-----------------    loop through and store maximum length variable
# unique words from---------------- convert into a set

In [5]:
A1 = A.split(' ')
len(A1)


LW = ''


# I am updating the lenghtiestword so far
for x in A1:
    
    if len(x)> len(LW):
        LW = x

        
LW

'backward-compatible.'

In [18]:
A1 = A.split(' ')
len(A1)


length = [] # trying to make a lits of lengths of all the words

for x in A1:
    length.append(len(x))
    
max(length)

length.index(20)

A1[160]

'backward-compatible.'

In [20]:
# no of words in my string/paragraph
# set is a collection if keys


len(A1)

unique = set(A1)

len(unique)

193

In [28]:
A = [1,1,2,2,3,4]
    
B = set(A)

C = list(B)

print(A)
print(B)
print(C)

[1, 1, 2, 2, 3, 4]
{1, 2, 3, 4}
[1, 2, 3, 4]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [46]:
### Strings 

# methods :   must know
# should know
# may know : doesn't really matter


'A boy'.capitalize()
'A boy'.title()
'A boy'.upper()
'A boy'.lower()
'A boy'.count('A')
'A boy'.find('A')
'A boy'.rfind('A')
'A boy'.replace('A','one')
'A boy'.split('b')
'  A boy  '.join(['item1','item2'])
'A boy'.swapcase()  ### upper to lower and vice versa
'A boy'.index('o')


##function

len(string)
print(string)
id(string)
int(string)  -----specific

3

In [48]:
int('3')# as we do in input function

3

In [54]:
chr()-----will ask for an int and return str
ord()-----will ask for a str and return int


ord('a')

x = 30

y =  'c'

x == ord(chr(x))

y == chr(ord(y))

SyntaxError: invalid syntax (<ipython-input-54-e90dd51717f3>, line 1)

###Â Lists

In [74]:
L1 = [1,20,300,4000]
L1.append('x')
print(L1)

L1.extend(['apple','mango'])
print(L1)

print(L1.index('mango'))

L1.reverse()
print(L1)

L1.pop()  ### remove and return/throw





# I want to insert at start

#insert('index','value to be inserted')
L1.insert(0,True)
L1.insert(3,None)
L1


# sorting
L1 = [1,2,30,4,500]


# no argument is mandatory by default it is ascending,  reverse/descending = False
# if descending is required  reverse = True

L1.sort()
L1


L1.sort(reverse =True)
L1

[1, 20, 300, 4000, 'x']
[1, 20, 300, 4000, 'x', 'apple', 'mango']
6
['mango', 'apple', 'x', 4000, 300, 20, 1]

[500, 30, 4, 2, 1]

In [75]:
L1 = [25,100,121,296,625,1331,16]

L1.sort()  # it automatically sort the items in ascending order
L1

[16, 25, 100, 121, 296, 625, 1331]

In [76]:
L1 = [25,100,121,296,625,1331,16]

L1.sort(reverse = True)  # To  sort the items in descending order
L1

[1331, 625, 296, 121, 100, 25, 16]

In [80]:
L1 = [25,100,121,296,625,1331,16]

L1.pop(-2)

1331

In [81]:
A = [1,2,34]
B = A

B

[1, 2, 34]

In [ ]:
####. A = B  and A = B.copy()  are two different opoerations in python

#Q : how do I make list of uncommo elements in 2 lists

In [84]:
#Q : how do I make list of uncommon elements in 2 lists


A = [1,2,3,4,5,6]
B = [7,8,9,3,4,10]


UC = []

for x in A:
    if x not in B:
        UC.append(x)

for y in B:
    if y not in A:
        UC.append(y)
        
UC

[1, 2, 5, 6, 7, 8, 9, 10]

In [89]:
C = A+B
UC = []
for i in C:
    if C.count(i)==1:
        UC.append(i)
        
UC

[1, 2, 5, 6, 7, 8, 9, 10]

In [96]:
#### practice these

UC = [1, 2, 5, 6, 7, 8, 9, 10]
UC[:-2:]

[1, 2, 5, 6, 7, 8]

In [97]:
#### Please print the following nested list with a for loop

[[0],[0,1],[0,1,2],[0,1,2,3],[0,1,2,3,4]]


hint:
    
1 1
2 2
3 3
4 4--range(4)

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4]]

In [105]:
L3 = [[[0],[0,1],[0,1,2],[0,1,2,3],[0,1,'monkey',3,4]]]

L3[0][4][2]

'monkey'

## Tuple

In [112]:
T1 = (1,2,3,400)
print(type(T1))

T1= (1)##### integer

T1 = (1,)###### tuple
print(type(T1))

T1 = tuple((1,2,3))
print(type(T1))

T1 = 1,2,3
print(type(T1))

#modifications not allowed
#hetergenous dat types
#allow duplicates
#

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [114]:

# multiple variable assignment
 
a,b,c = 1,2,3

# tuple assignment

A =1,2,3

print(A,a,b,c)

(1, 2, 3) 1 2 3

In [116]:
### inexing works

T4 = (1, 2, 5, 6, 7, 8)
T4[-1]

8

In [118]:
## membership

7 in T4

True

In [120]:
#repititive creation

T5 = ('a','b','')*5
T5

# concatenation

(1,2,3)+(5,6,7)

(1, 2, 3, 5, 6, 7)

In [122]:
# methods
T6 = (1, 2, 20,20,2,20,5, 6, 7, 8)

print(T6.count(20))

print(T6.index(20))   # the min index will be returned

3
2

In [123]:
len(T6)

10

In [125]:
# replacing an item

# operations where you have to update any tuple: converting it inot a list and then 
# back to tuple would be the right approach


#I want to append monkey at the end

T7 = (1, 2, 20,20,2,20,5, 6, 7, 8)
L7 = list(T7)
L7.append('monkey')
T7 = tuple(L7)
T7

(1, 2, 20,20,2,20,5, 6, 7, 8)

(1, 2, 20, 20, 2, 20, 5, 6, 7, 8, 'monkey')

In [126]:
#I want to delete monkey at the end

T7 = (1, 2, 20,20,2,20,5, 6, 7, 8,'monkey')

L7 = list(T7)

L7.pop()

T7 = tuple(L7)

T7

(1, 2, 20, 20, 2, 20, 5, 6, 7, 8)

In [128]:
(1, 2, 20,20,2,20,5, 6, 7, 8) + ('monkey',)

(1, 2, 20, 20, 2, 20, 5, 6, 7, 8, 'monkey')

In [130]:
str1 = 'let us 2 learn how 2 use find'

str1.find('2')
str1.rfind('2')

17

In [136]:
'a b c d e'

L = ('a', 'b', 'c', 'd', 'e')

# separator.join(iterable)

"-----".join(L)

'a-----b-----c-----d-----e'