In [ ]:
# spaces may matter when you are worried about indentation, defining string
# Can tuple inside a list be edited? ---N
# Can a list inside a tuple be edited? --Y

# LSD   mutuable

In [32]:
A = [1,(2,3)]

A[1][0] = 20

TypeError: 'tuple' object does not support item assignment

In [40]:
a = [3,4,5]
b = [3,4,5]

In [41]:
print(id(a)==id(b))

False

In [55]:
# why does it not happen for intergers and strings
# exceptions: ---  integers from -5 to 256
#           : ---  strings for a certain length

# python is optimized in such a manner that few int and str have pre defined objects.

a = 256
b = 256

print(id(a),id(b))

A = 'a'
B = 'a'

A = 'a'*21
B = 'a'*21
print(id(A),id(B))

4297645056 4297645056
4380671768 4380670616

In [49]:
'a'*20

'appleappleappleappleappleappleappleappleappleappleappleappleappleappleappleappleappleappleappleapple'

In [57]:
L1 = [1000,2,3]
L2 = [1000,2,3]
print(L1[0])
print(id(L1[0])==id(L2[0]))

1000
False

## Operators

### Comparison

In [ ]:
1) == # eqaul to --We try to find if values are equal or not
2) != # not eaual to
3) > # greater than
4) < # less than
5) >= # greater than or equal to 
6) <= # less than or equal to

In [72]:
'3' == '3'
print('3' != 3)

len(' apple') > len('APPLE ')

4**2 == 33%17

True

False

In [73]:
33%17

16

## Identity

In [74]:
1) is
2) is not

# coamparing their identity

SyntaxError: invalid syntax (<ipython-input-74-180c82366c37>, line 1)

In [90]:
a= 300
b= 300
c =4

l1 =[1,2,[40,50]]
l2 = [1,2,[40,50]]


print(a is b)
print(a==b)
#c is b

print(l1[2]==l2[2])


print(l1[2] is l2[2])

False
True
True
False

In [88]:
id([40,50]) == id([40,50])

True

 ## Membership

In [91]:
1)in   # if a particular sequence is prsent in an object
2)not in  # if a particular sequence is not prsent in an object

# what type of data type it will return?

SyntaxError: invalid syntax (<ipython-input-91-b8f67043dd73>, line 1)

In [103]:
L1 = [1,2,[3,4]]

[3,4] in L1
# direct element
l1= [1,2,[3,4]]

L1 = [l1]

#print(len(L1))
print(L1[0][2])
3 in L1[0][2]

[3, 4]

True

In [114]:
L3 = [(1,2),('one','two')]
# 'one' is not a direct element of L3, it is a direct element of 2nd tuple inside L3 
# hence 'one' in L3 will return False

('one','two') in L3
S1 = "I am happy that I am geeting money"

'happy THAT' not in S1

True

## Logical operators

In [ ]:
# combine conditional statement

1) and # if both statements are true
2) or  # any of the statements should be true
3) not # reverses the result

In [123]:
a = 9

print(a==9)
print(10==9)

a ==9 and 10==9
a ==9 or 10==9

True
True

True

In [122]:
not True
not False

True

In [124]:
print(not 10==9)

True

## Arithmatic operators

In [ ]:
1) +
2)-
3) *  #multiplication
4) / division
5) % modulus          # remainder
6) ** exponentiation ##(power)
7) Floor division   # removes the decimals the end from quotent
                     # rounds off the number to nearest lower integer

In [132]:
print(2*3,2.0*3, 22/7)

6 6.0 3.142857142857143

In [136]:
39%10

9

In [137]:
5**2

25

In [141]:
901//100   # point something

9

In [144]:
82//13  # 13*6 + something

6

## Assigment operator

In [ ]:
1) =  # assign value to variables
2) += # increment
3) -= # decrement value
4) *= we will continue...

In [150]:
x = 3
#x +=3 ------>  x= x+3
y = 4

print(y)
y +=5   #.   y= y+5
y +=5

print(y)

z = 10
z-=10

print(z)

4
14
0