# Question D02

#### 1. Create a tuple with different data types and make a comment explaining the properties of a tuple
#### 2. Write a Python program to get the 4th element and 4th element from last of a tuple of length (10)
#### 3. Write a Python program to convert a list to a tuple
#### 4. Convert a string with repetitive charaters to a tuple and calculate the length
#### 5. Convert a string with repetitive charaters to a set and calculate the length
#### 6. Create a list of length 11 and check if index 5 and index -5 are equal?
#### 7. Create a Dictionary D1 of length 3 and keys as string, integer, float
#### 8. Can you check: out of string, int, list, float, tuple, set, bool what all are eligible for dictioary keys?
#### 9. In dictionary D1 get the value against string key
#### 10.Create a list and tuple with their 4th element as same dictionary. Compare that id() of these two with                      comparison(==) and identity operator (is)

# Question D07

#### 1. Accept the marks of English, Math and Science, Social Studies Subject and display the stream allotted according to following

####                    All Subjects more than 80 marks —       Science Stream

####                    English >80 and Math, Science above 50 –Commerce Stream

####                    English > 80 and Social studies > 80    —   Humanities

### 2. Understand these statements:

Q1. Evaluate the following statements:

a=True
b=True
c=True
d=True       
1.         print(c)
2.         print(d)
3.         print(not a)
4.         print(not b )
5.         print(not c )
6.         print(not d)
7.         print(a and b )
8.         print(a or b )
9.         print(a and c)
10.       print(a or c )
11.        print(a and d )
12.       print(a or d)
13.       print(b and c )
14.       print(b or c )
15.       print(a and b or c)
16.       print(a or b and c )
17.       print(a and b and c)
18.       print(a or b or c )
19.       print(not a and b and c)
20.       print(not a or b or c )
21.       print(not (a and b and c))
22.       print(not (a or b or c) )
23.       print(not a and not b and not c)
24.       print(not a or not b or not c )
25.       print(not (not a or not b or not c))

####  3. The given number is of one digited or two digited or three digited or more than three digited.

## Question D08

####    1.   Write a program to find the sum of the digits of a number accepted from user
####    2.   Write a program to print first 10 even numbers in reverse order.
####    3.   Write a program to display sum of odd numbers and even numbers that fall between 12 and 37(including both numbers)
####    4.   Write a program to print the following pattern
        5 5 5 5 5
        4 4 4 4
        3 3 3
        2 2
        1
        
####     5. Write the code that prints len() of 'antarctica' with the help of while loopand counter variable
####     6. Write a for loop which print "Hello!, " plus each name in the list. i.e.: "Hello!, Sam"lst=["Sam", "Lisa", "Micha", "Dave", "Wyatt",                      "Emma", "Sage"]

####     7. names = ['Kelly', 'Jessa', 'Emma']. Repeat each letter 5 times from the list.

## Question D20

### 1.

In [ ]:
def f(): 
    print(s) 
s = "I love Paris in the summer!"
f()

### 2.

In [ ]:
def f(): 
    s = "I love London!"
    print(s) 

s = "I love Paris!" 
f()
print(s)

### 3.

In [ ]:
def f(): 
    print(s)
    s = "I love London!"
    print(s)

s = "I love Paris!"
f()

### 4.

In [ ]:
def f():
    global s
    print(s)
    s = "Only in spring, but London is great as well!"
    print(s)


s = "I am looking for a course in Paris!" 
f()
print(s)

### 5.

In [ ]:
def f():
    s = "I am globally not known"
    print(s) 

f()
print(s)

### 6.

In [ ]:
def f():
    city = "Hamburg"
    
    
    def g():
        global city
        city = "Geneva"
        
        
    print("Before calling g: " + city)
    print("Calling g now:")
    g()
    print("After calling g: " + city)
    
f()
print("Value of city in main: " + city)