In [7]:
del B
del C
A = list(range(2,98,3))[3:6]
print(A)

NameError: name 'B' is not defined

In [2]:
list(range(2,98,3))[3:6]

[11, 14, 17]

In [20]:
basket = ['cauliflower','capsicum','pineapple','apple','mushroom','banana']

#Create a dictionary such that

#{name of fruit/veg: no of vowels in the word}

D = dict()

for items in basket:

    count = 0
    V = set('aeiouAEIOU')

    

    for letter in items:
        
        if letter in V:

            count+=1
    
    D[items] = count

D

{'cauliflower': 5,
 'capsicum': 3,
 'pineapple': 4,
 'apple': 2,
 'mushroom': 3,
 'banana': 3}

In [18]:
letter

'a'

### DICTIONARY

In [ ]:
clear()
copy()
items()#pair
keys()
values()
pop()### requires an argument
popitem()
get()#### access
setdefault()##### update

In [30]:
D = {'cauliflower': 5,'capsicum': 3, 'pineapple': 4,'apple': 2, 'mushroom': 3, 'banana': 3}

# unlike Dict and tuples pop needs one argument
D.pop('pineapple')

D.get('pineapple','Oh you already ate this fruit from the basket')

# returns the popped pair as well
print(D)
D.setdefault('pineapple',4)
print(D)
D.setdefault('apple',200)
print(D)

{'cauliflower': 5, 'capsicum': 3, 'apple': 2, 'mushroom': 3, 'banana': 3}
{'cauliflower': 5, 'capsicum': 3, 'apple': 2, 'mushroom': 3, 'banana': 3, 'pineapple': 4}
{'cauliflower': 5, 'capsicum': 3, 'apple': 2, 'mushroom': 3, 'banana': 3, 'pineapple': 4}

In [27]:
Q: Create a dictionary for first 100 numbers such that

SQ = {number: square of the number}    #{0:0,1:1,2:4,3:9}
but 

A = {7:'forty nine', 8: 'sixty four'} should be items for keys 7 and 8

{2, 3, 4, 5}

In [35]:
D1 = dict()

A = {7:'forty nine', 8: 'sixty four'}

for i in range(4):
    
    A.setdefault(i,i**2)
    
A

{7: 'forty nine', 8: 'sixty four', 0: 0, 1: 1, 2: 4, 3: 9}

### SETS

In [ ]:
# unordered
# mutable
# collection of keys
# items of set are what: immuatble
# do not allow duplicates
# heterogenous
# all data types can be members

In [37]:
# constructor
set1 =  {'A',0,'3.14','prashant',None}
set1

{0, '3.14', 'A', None, 'prashant'}

In [38]:
# access items in a list
# TypeError: 'set' object does not support indexing


set1[3]

TypeError: 'set' object does not support indexing

In [53]:
# membership operator

set1 =  {'A',0,'3.14','prashant',None,False}

False in set1


# add()   ### add any item to the set

set1.add('subscribe')
set1

# update   ### add any iterable to the set

set1.update({'share'})
set1

set1.update(('share',))
set1

set1.update(('share',))
set1

# not allowing duplicates

{0, '3.14', 'A', None, 'prashant', 'share', 'subscribe'}

In [57]:
## remove an item

set1 = {0, '3.14', 'A', None, 'prashant', 'share', 'subscribe'}
set1.remove('prashant')

set1

### you use discard when you don't want an error apearing
### if key in set:
#         discard will remove it
#    else:
#        Nothing(nont throw an error)

### discard


set1.discard('Yamuna')
set1


# pop

set2 = {'x','INDIA'}
set2.pop()
set2

{0, '3.14', 'A', None, 'share', 'subscribe'}

In [68]:
# immutability of key:

x= (1,)
set2 = {x,'INDIA'}

# unhashable type: 'list'
# revisit these:

In [67]:
x= (1,{'a':'apple'})

tuple

{'x'}

In [ ]:
####. join two sets

dancers = {'AG','YY','AT','AS','KKS'}
readers = {'UJ','RN','LS','AT','AS'}


Q1can we have all danceers or readers


### Union

In [74]:
#### ALL READERS AS WELL AS DANCERS
#### ADDING BOTH SETS

dancers = {'AG','YY','AT','AS','KKS'}
readers = {'UJ','RN','LS','AT','AS'}
DR = dancers.union(readers)

DR

{'AG', 'AS', 'AT', 'KKS', 'LS', 'RN', 'UJ', 'YY'}

### Intersection

In [78]:
#### PEOPLE WHO ARE DANCERS AND READERS
#### return a set
IS = dancers.intersection(readers)
IS

print(dancers)




#### intersection_update() 
#### return nothing, update the setitself

dancers.intersection_update(readers)
dancers

{'AS', 'AG', 'YY', 'AT', 'KKS'}

{'AS', 'AT'}

### difference

In [81]:
dancers = {'AG','YY','AT','AS','KKS'}
readers = {'UJ','RN','LS','AT','AS'}

#### PEOPLE WHO ARE DANCERS BUT NOT READERS

D_R = dancers.difference(readers)
D_R


dancers.difference_update(readers)
dancers

{'AG', 'KKS', 'YY'}

{'AS', 'AT'}

In [86]:
A = {3,6,9,12,15}
B = {2,4,6,8,10,12,14}


# UNION
#tell me all the number if are divisible by 2 or 3

print(A.union(B))

# Intersection
#tell me all the numbers if are divisible both by 2 and 3

print(A.intersection(B))


# Difference
#tell me all the numbers if are divisible by 2 not by 3

print(B.difference(A))


# Difference
#tell me all the numbers if are divisible by 3 not by 2

print(A.difference(B))

{2, 3, 4, 6, 8, 9, 10, 12, 14, 15}
{12, 6}
{2, 4, 8, 10, 14}
{9, 3, 15}

In [91]:
str1= 'I love python and it is free source, but my problem is I dont know python zqg'

len(set(str1))

26

In [94]:


# Question: 


alpha  = list('aaccehikloosvz')
ind    = [10,13,0,3,2,4,12,11,7,5,8,6,9,1]

# Question: redo this
# I want you to create a string which put alphabets from alpha in the order of their index fron Ind

In [108]:
word = ''


for i in range(len(ind)):
    
    x = ind.index(i)
    word+=alpha[x]
   
 

word


#from 0 how do i get c?

#find index of 0 which is 3

#find the third alphabet

'czechoslovakia'

In [111]:
[[0],[0,1],[0,1,2],[0,1,2,3]]

l1= []
g1= []

for i in range(5):
    
    l1=l1+[i]
    
    print(l1)
    
    g1.append(l1)
    
g1

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]

[[0], [0, 1], [0, 1, 2], [0, 1, 2, 3], [0, 1, 2, 3, 4]]

In [ ]:
#. Question:   Assignment: print fibonacci series for first 15 numbers: