##Â DS DAY03

#### So far : 

1. Data Types (standard/inbuilt)
2. Indexing /Selection

In [9]:
# sets are collection of keys
# dictionaries are cllection of key:value pairs

S1 = {1,2,3,3,3,3,3,3,3}
print(S1)
print(type(S1))


D1= dict()
print(type(D1))

ST1 = set()
print(type(ST1))

L1 = []
L2 =list()

print(type(L1),type(L2))

T1 = (1,2,3,4,'pineapple')
print(type(T1))

{1, 2, 3}
<class 'set'>
<class 'dict'>
<class 'set'>
<class 'list'> <class 'list'>
<class 'tuple'>

In [30]:
L1 = [1,2,3,'four']
print(len(L1))

L2 = [1,2,3,100,200,{'year':2022}]
print(len(L2))

L3 = [1,2,30,L2]

# variable assignment RHS= object

# variable/name = object

# find the address of the object ----  id()

print(id(L1))

# function to check the size/length. of the object --- len()

# python syntex are case sensitive

print(len(L3[3]))

# reds are string/ greens are reserved names/function


# never try to use reserved keys/function as name /variables

4
6
4378608200
6

In [33]:
L1 = ['sun','mon','tue'] 

print(len(L1))
print(type(L1))
print(id(L1))

# update the 3rd element of list L1 and make it 'Tuesday'
# list indexing/selection is done by []


L1[2] = 'TUESDAY'
print(L1)
print(id(L1))


# altogether a new object
L1 = ['wed', 'thu','fri']
print(id(L1))

3
<class 'list'>
4378586312
['sun', 'mon', 'TUESDAY']
4378586312
4380740936

### Data types ----summary

In [ ]:
1. List 
declaration = [], list()
mutable
ordered
indexing

2. Tuple 
declaration = ()
immutable (data-protected)
Indexing

3. string
declaration = '', "", '''  ''' (multiline string)
immutable

4. Sets
declaration = set()
not ordered
collection of keys
eliminate duplicates
indexing has no meanign here

5. Dictionaries
declaration = dict(),   avoid using--{}
key value pairs

6. integer
delaration = int()
immuatble

7. float
declare =float()
immuatable

In [36]:
T1 = (1,2,3,'sun','mon')
print(T1)
print(type(T1))

T1[3]= 'SUNDAY'

(1, 2, 3, 'sun', 'mon')
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [37]:

S1 = '''I am masood
I am siddhu
I prasanth'''

print(type(S1))

<class 'str'>

In [38]:
Day = 'SUNDAI'
Day[5] = 'Y'

TypeError: 'str' object does not support item assignment

In [47]:
D = {'year':2022,'mon':'jan',1:'one'}
print(type(D))

print(D)

# retrieve the value for key =1
D[1]

D[1]= 'ONE'

D[2]= 'TWO'






print(D)

<class 'dict'>
{'year': 2022, 'mon': 'jan', 1: 'one'}
{'year': 2022, 'mon': 'jan', 1: 'ONE', 2: 'TWO'}

In [50]:
I = int()
F = float()


print(I,F,S)

0 0.0

In [51]:
S = str()
print(S)

## Indexing

In [60]:
#Forward indexing
#Backward indexing

list1 = [100,200,400,800,'mango']

#Findex = [0,1,2,3,4]

#Bindex = [-5,-4,-3,-2,-1]

# Gindex= eliminate len(list1) from each element of Findex  [0-5,1-5,2-5,3-5,4-5] = [-5,-4,-3,-2,-1] (Bindex)

print(list1[2])
print(list1[-3])
print(len(list1))

400
400
5

200

In [76]:
list1 = [100,200,400,800,'mango']
# slicing = if yu want toextract more than one element.

print(list1[3:5]) # [3:5] means 4th and 5th element

[800, 'mango']

### Conversion of Data Types

In [67]:
S =  'My age is 13'
#print(len(S))
print(S[10:12])

# for a sliciing [i:j] elements of i to j-1 are selected
# j is excluded in slicing [i:j]

13

In [91]:
#1. int to float Vice versa


a= 8.06
print(type(a))
b=int(a)
print(type(b))

2. # string to an integer --- depends on compatibility
# integer/float to string    ---

a =3.90
print(type(a))
b=str(a)
print(type(b))

3. 
L1=[1,2,3,400,400]
print(type(L1))

S1 = set(L1)
print(S1,type(S1))

T1 = tuple(L1)
print(T1,type(T1))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
{400, 1, 2, 3} <class 'set'>
(1, 2, 3, 400, 400) <class 'tuple'>