### Revision

In [ ]:
maxsplit parameter?

In [ ]:
s = 'I know the answer but i feel lazy writing it in chatbox'

s.split(maxsplit = 0)

In [ ]:
name = "Ieshaan"
name

In [ ]:
'apple'.title() == 'apple mango'.capitalize()

In [ ]:
Question:  concatenation?
    
    
strings?
LIST?

In [ ]:
str.isspace('A B')

In [ ]:
'AB'.isspace()

In [ ]:
#Q: output?
s = 'I know the answer is 10 but I feel lazy writing it in chatbox'

sum(not x.isspace() for x in s)
sum(x.isalpha() for x in s)
sum(x.isalnum() for x in s)

In [ ]:
popitem()


A=[1,2,3]

A = {1:3,'a':4}

A.popitem()

### generators

In [ ]:
def sq(x):
    for i in x:
        
        yield i**2

In [ ]:
G = sq(range(10))

In [ ]:
G.__next__()

In [ ]:
# This is an iterable

G = sq(range(10))


for j in G:
    print(j)

In [ ]:
def div_4_5(num):
    
    for i in num:
        if i%4==0 and i%5==0:
            yield i

In [ ]:
G1 = div_4_5(range(1000))

In [ ]:
G1.__next__()

In [ ]:
# Creating pipelines of generators 


PL = div_4_5(sq(range(1000)))

In [ ]:
PL.__next__()

In [ ]:
# generate a function which squeares only even numbers

def sq(x):
    for j in x:
        
        yield j**2
        
        
def EVEN(num):
    
    for i in num:
        if not bool(i%2):
            yield i
            
            
Pipeline = sq(EVEN(range(10)))

In [ ]:
for monkey in Pipeline:
    
    print(monkey)

In [ ]:
x = 100

bool(x%2) ==False

In [ ]:
# Summ all the squares of positive even numbers below 10

Pipeline = sq(EVEN(range(10)))
sum(Pipeline)

### Collections

In [ ]:
Python provides these containers.
Container =  stores different objects and provide access

Tuple
List
Dict


collections

In [ ]:
import collections

In [ ]:
Counters
deque
ChainMap
OrderDict

### Counters

In [9]:
# subclass of dictionary

from collections import Counter

C1 = Counter('RehanNischal')
C1

Counter({'R': 1,
         'e': 1,
         'h': 2,
         'a': 2,
         'n': 1,
         'N': 1,
         'i': 1,
         's': 1,
         'c': 1,
         'l': 1})

In [10]:
C2 = Counter('apple')
C2

C3 = Counter([1,2,34,3,2,4,4,2,21,2,34,5,3,2,2,4,2,])
C3

Counter({1: 1, 2: 7, 34: 2, 3: 2, 4: 3, 21: 1, 5: 1})

In [12]:
# update a Counter

C2 = Counter('apple')
C2

C2.update('apple')
C2

Counter({'a': 2, 'p': 4, 'l': 2, 'e': 2})

In [ ]:
s = 'I know the answer but i feel lazy writing it in chatbox'

D = dict(Counter(s))
D

V = 0
for i in D:
    if i in set('AEIOUaeiou'):
        V = V+D[i]
        

V

In [ ]:
set('AEIOUaeiou')

In [ ]:
C4 = Counter({'A':5,'B':6})
C4

C4.update(Counter('ABABAB'))
C4

In [ ]:
C4 = {'A':5,'B':6}
C4

### Deque

In [ ]:
# Double ended queue

Optimised list for quick append, pop type of operation from both the ends

In [ ]:
from collections import deque

In [ ]:
D1 = deque([1,'monkey','delhi',True])
D1

In [124]:
# append
# appendleft
# pop
# popleft
# extend left
# count
# extend
# remove


D1 = deque([1,'monkey','delhi',True])
print(D1,'\n')


D1.append(3.14)
print(D1,'after append\n')

D1.appendleft(-3.14)
print(D1,'after appendleft\n')


D1.popleft()
print(D1,'after popleft\n')


D1.pop()
print(D1,'after pop\n')

D1.extendleft(['Vrushabh','kalpesh','Ieshaan'])
print(D1,'after extendleft\n')

D1.reverse()
print(D1,'after reverse\n')

deque([1, 'monkey', 'delhi', True])

deque([1, 'monkey', 'delhi', True, 3.14]) after append

deque([-3.14, 1, 'monkey', 'delhi', True, 3.14]) after appendleft

deque([1, 'monkey', 'delhi', True, 3.14]) after popleft

deque([1, 'monkey', 'delhi', True]) after pop

deque(['Ieshaan', 'kalpesh', 'Vrushabh', 1, 'monkey', 'delhi', True]) after extendleft

deque([True, 'delhi', 'monkey', 1, 'Vrushabh', 'kalpesh', 'Ieshaan']) after reverse

###  ChainMap

In [130]:
# To encapsulate the dict into single unit

from collections import ChainMap

d1 = {'Delhi':50,'Jaipur':240}
d2 = {'Fuel':26}
d3 = {'time':2.5}


CM = ChainMap(d1,d2,d3)
print(CM,'\n',list(CM))

ChainMap({'Delhi': 50, 'Jaipur': 240}, {'Fuel': 26}, {'time': 2.5})
 ['time', 'Fuel', 'Delhi', 'Jaipur']

In [137]:


# access value

CM['Fuel']

# Values

list(CM.values())

# keys

list(CM.keys())

# new_child()

#it adds the new item at the beggining

ChainMap({'Delhi': 50, 'Jaipur': 240}, {'Fuel': 26}, {'time': 2.5})

In [5]:
from collections import ChainMap

d1 = {'Delhi':50,'Jaipur':240}
d2 = {'Fuel':26}
d3 = {'time':2.5}


CM = ChainMap(d1,d2,d3)
print(CM)

d4 = {'clock': '10:30','had food?':False}

CM1 = CM.new_child(d4)
CM1

ChainMap({'Delhi': 50, 'Jaipur': 240}, {'Fuel': 26}, {'time': 2.5})

ChainMap({'clock': '10:30', 'had food?': False}, {'Delhi': 50, 'Jaipur': 240}, {'Fuel': 26}, {'time': 2.5})

###Â OrderdDict

In [ ]:
it was intoduced in pythn 3.1
after py 3.6 order in dict is already maintained

In [ ]:
datatime module

time
date
datetime

In [ ]:
membership  in sets ?----> 
how to add items to a set? --->
how to add items from other data type to a set? ---->
join ---- union
intersection---common

keep all the items but no duplicate?
symmetric difference

how to remove an item---> discard?

In [22]:
num=int(input("Enter any number"))


s=0

while(num):
    
    
    
    r=num%10
    print('last digit',r)
    s=s+r
    
    print('updated sum',s)
    
    num=num//10
    
    print('new number',num)

print("Sum of digits is",s)

Enter any number456
6
6
45
5
11
4
4
15
0
Sum of digits is 15

In [15]:
x = 456

15

15

16