In [1]:
# 1. print alphabets/words in one line.


s='''abc
def
hij
klm
opqrst
uvwxyz
'''

s

'abc\ndef\nhij\nklm\nopqrst\nuvwxyz\n'

In [8]:
#'/n' >-------' '

#1.
s.replace('\n',' ')


#2.
s1 = s.split('\n')

' '.join(s1)

'abc def hij klm opqrst uvwxyz '

In [9]:
2. Pull the domain name

https://www.flipkart.com/search?q=tv+smart

SyntaxError: invalid syntax (<ipython-input-9-370837fa45e3>, line 1)

In [22]:
s2 = "https://www.flipkart.com/search?q=tv+smart"

#s2.split('.')[1]
# .com is called a substring


s3 = s2.split('.com')
print(s3[0] )

s3[0].split('.')[-1]

https://www.flipkart

'flipkart'

In [23]:
#3.

A ='''Python was conceived in the late 1980sby Guido van Rossum at Centrum Wiskunde & Informatica (CWI) in the
Netherlands as a successor to the ABC programming language, which was inspired by SETL, capable of exception 
handling and interfacing with the Amoeba operating system.Its implementation began in December 1989.[41] Van 
Rossum shouldered sole responsibility for the project, as the lead developer, until 12 July 2018, when he announced 
his "permanent vacation" from his responsibilities as Python's "benevolent dictator for life", a title the Python 
community bestowed upon him to reflect his long-term commitment as the project's chief decision-maker. In 
January 2019, active Python core developers elected a five-member "Steering Council" to lead the project.

Python 2.0 was released on 16 October 2000, with many major new features, including a cycle-detecting garbage 
collector (in addition to reference counting) for memory management and support for Unicode.

Python 3.0 was released on 3 December 2008. It was a major revision of the language that is not completely 
backward-compatible. Many of its major features were backported to Python 2.6.x and 2.7.x version series. 
Releases of Python 3 include the 2to3 utility, which automates the translation of Python 2 code to Python 3.

Python 2.7's end-of-life date was initially set at 2015 then postponed to 2020 out of concern that a large body of 
existing code could not easily be forward-ported to Python 3.No more security patches or other improvements 
will be released for it. With Python 2's end-of-life, only Python 3.6.xand later are supported.

Python 3.9.2 and 3.8.8 were expedited as all versions of Python (including 2.7) had security issues, leading 
to possible remote code executionand web cache poisoning.'''

#A.count('Python')
#A.count('\n')


### Assignments:


# upper case first character words----istitle()
# lengthiest word-----------------    loop through and store maximum length variable
# unique words from---------------- convert into a tuple

In [ ]:
len(A)
A.count('Python') + A.count('python')
A.count('\n\n')+1

# a single space split will create 2 chunks

##### Strings

In [42]:
# find:  returning the index of the first occurance

s3 = 'This is a good example of how to use sets in python'

s3.find('his')

s3[2:]

s4 = 'ee aa bb cc aa'

s4.find('a')

s3.find('example')

s3.find('good')

s3[10:]

'good example of how to use sets in python'

In [45]:
##. rfind() returns the index of first occurance of substring from the right


s5 = 'This is a good example of how to use good sets in python'

s5.find('good')
s5.rfind('good')

s5[37:]

'good sets in python'

In [47]:
###   isspace() --------- if all thecharatcer are space

s6 = 'ABHISHEK'
s6.isupper()

True

In [148]:
s7='Athish Gowda'
s7.isspace()

s8 = '  '
s8.isspace()

SyntaxError: EOL while scanning string literal (<ipython-input-148-e5b406e8f02d>, line 4)

In [57]:
s5 = 'This is a good example of how to use good sets in python'

s5.count(' ')



sum = 0

for i in s5:
    
    if i.isspace():
        sum=sum+1
    else:
        pass
    
print(sum)

12

In [149]:
'     '.isspace()

True

In [59]:
# for every character there in one unicode behind (integer)

ord('$')
chr(36)



# ord() function returns a specified character in an integer
# chr() function that converst a specified integer into a string

'$'

In [73]:
# 97 for a
# 65 for A

for i in range(97,97+26):
    print(chr(i),end=' ')
    
print()

for i in range(65,65+26):
    print(chr(i),end=' ')

a b c d e f g h i j k l m n o p q r s t u v w x y z
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

### Lists

In [77]:
# mutable
# indexing , slicing , ordered
# iterable
# allows duplicates
# heterogenous data

sample_list = [3, 4.0,'python',[1,2],(3,4),{1:'one',2:'two'},{8,97,6},True,None]

len(sample_list)

9

In [79]:
#Slicing (start,end,step)

sample_list[3::]

[[1, 2], (3, 4), {1: 'one', 2: 'two'}, {6, 8, 97}, True, None]

In [81]:
# updating values

sample_list[2] = 'java'
sample_list

[3, 4.0, 'java', [1, 2], (3, 4), {1: 'one', 2: 'two'}, {6, 8, 97}, True, None]

In [83]:
# repititive list

l1 = [1,2,3,4]
l1*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [85]:
# concatenation

l2= [1,2] + ['one','two']
l2

[1, 2, 'one', 'two']

In [88]:
# membership operator

'three' not in l2

# iteration

for i in l2:
    print(i)
    
# lenght---len()

# min

# max

1
2
one
two

In [92]:
min(range(3,10,1))
max(range(3,10,1))

max([1,13,0])
min([1,13,0])

0

### Methods

In [97]:
# append()  will update the list and the input will be added last


l1 = ['one','two','three']

l1.append('four')

l1[-1]

'four'

In [99]:
l1 = ['one','two','three']

l1.append(['four','five'])

l1

['one', 'two', 'three', ['four', 'five']]

In [104]:
# extend()   extend the size of list with all the inputs in the string

l2 = ['one','two','three']

l2.extend(['four','five','monkey'])

l2

['one', 'two', 'three', 'four', 'five', 'monkey']

In [ ]:
['one','two','three'] + ['four','five','monkey']

In [106]:
# del also works

del l1[2]
l1

['one', 'two']

In [109]:
##  count(): counts frequency of each element in the list 

l3 = [1,2,3,3,4,5,3,6,7,2,4,5,123]

l3.count(3)

3

In [115]:
# index(): will give you the index of the first occurance of the input

l3 = [1,2,3,3,4,5,3,6,7,99999,1234,123]

l3.index(3)


# pop() : del and throw the elements , if not given any argument/input last element will be deleted


l3.pop()
l3.pop(0)

l3

[2, 3, 3, 4, 5, 3, 6, 7, 99999, 1234]

In [117]:
# reverse() reverses the list order

l4 = [1,2,3,3,'5 point something',5,3,6,7,99999,1234,123]
l4.reverse()

l4

[123, 1234, 99999, 7, 6, 3, 5, '5 point something', 3, 3, 2, 1]

In [119]:
# clear():

l5 = [1,2,3,3,'5 point something',5,3,6,7,99999,1234,123]
l5.clear()

l5

[]

In [123]:
l6 = [1,2,3,4,5,10]
l7 = [6,7,8,9,2,10]

  
#print element  that is common to both lists


for i in l6:
    for j in l7:
        if i==j:      # comparison operator
            print(i)
        else:
            pass
        
        
for i in l6:
    if i in l7:       # membership operator
        print(i)

2
10
2
10

In [133]:
## find and index

l8 = ['Asad','sekhar','abhay','nikhil']

l8.index('Asad')

s8 = ' '.join(l8)

s8.find('sekhar')

s8.index('sekhar')

5

In [139]:
###  any substring that is not present in the string returns -1
#### while index an item/substring which is absent return an error



s8.find('Ieshaan')

s8.index('Ieshaan')

ValueError: substring not found

In [136]:
s3 = 'This is a good example of how to use his sets in python'

s3.rfind('his')

37

In [141]:
s9 = 'komalksingh1999'
s9.find('k')
s9.rfind('k')

s9.index('k')

0

In [142]:
s9.find('z')

-1

In [143]:
s9.index('z')

ValueError: substring not found

In [147]:
s10 = 'ffgggggggggggg'

s10.rfind('f')

# rfind here means that if you search 'f' from right side and what is the index of first occurance

# rfind or find will not change th index of an character

1

In [158]:
A = "Vrusabh and Rehan:  The Himalayan river Ganga flows fast through the mountains. A city Haridwar is just 100kms away from Gangotri"

sum = 0
for p in A.split(' '):
    if p.istitle() and p not in ['A','An','The']:
        
        sum=sum+1
        print(p,sum)
    else:
        pass
    
print('the number of nouns in this sentense are :', sum)
print('the number of nouns in this sentense are :' + str(sum))

Vrusabh 1
Rehan: 2
Himalayn 3
Ganga 4
Haridwar 5
Gangotri 6
the number of nouns in this sentense are : 6
the number of nouns in this sentense are :6