In [4]:
# input() takes input from the user in string format
#x = int(input())
#y = int(input())
#\n new line default

x=50
y=10
print(x,y,sep='^^^^^^^^',end = 'end it \n\n')
print('a')

50^^^^^^^^10end it

a

In [ ]:
x ==50

### bool function

In [12]:
# to conert a value to boolean equivalent(True or false) or value
print(str(8))
print(type(str(8)))
print(bool(1))
print(type(bool(1)))

if 3==3:
    print('execute')

8
<class 'str'>
True
<class 'bool'>
execute

In [24]:
# What all values return False (What are the object that have boolean equivalent as False)
# 1. default value (ithout an input is False)
# 2. Nonetype
# 3. 0 or 0.0
# 4. empty sequence
# 5. any other object that will return None


print(bool())
print(bool(None))
print(bool(0))
print(bool(0.0))
print(bool(False))
print(bool([]))
print(bool({}))

if bool():
    print('BBYEE')
    
if bool(None):
    print('BBYEE') 
    
if bool(0.0) or bool(0):
    print('BBYEE')
    
if bool([]):
    print('BBYEE')

False
False
False
False
False
False

#### True Equivalents

In [36]:
print(bool(2.2))
print(bool(6))
print(bool({1:'one'}))
print(bool([1,2,3]))
print(bool(-5))
print(bool(True))

True
True
True
True
True
True

In [47]:
# after if we are observing boolean equivalents

x = [1,2,3]
y = []
z = 0

print(bool(y))
print(bool(z))

print(len(x))



if len(x)>0:
    print('1')
    
if y:
    print("2")
    
if z:
    print("3")

True
False
3
1
2

### Iterable

In [48]:
# iterable is an object  which can be looped over  with the help ofa loop
# container that has some data and we perform an iteration to get elements one by one
# Memory efficient because you have one data pointat a time stored

L1 = ['apple','kiwi','mango']

print(L1[0])
print(L1[1])
print(L1[2])

apple
kiwi
mango

### for loop

In [ ]:
# syntex
# I = irterator 

# DRY

for i in iterable:
    statement

In [63]:
L1 = ['apple','kiwi','mango']

L2= [100,50,25,12.5,6.25]

for i in L1:
    print(i,end='\n\n')
    
for Deepak in L2:
    print(Deepak)

apple

kiwi

mango

100
50
25
12.5
6.25

In [65]:
# I ask you to print square of each number from 0 to 10:

L1 = [0,1,2,3,4,5,6,7,8,9,10]

for x in L1:
    print(x**2)

0
1
4
9
16
25
36
49
64
81
100

In [72]:
# I ask you to print square of each number from 0 to 10, also print if the square is odd/even


L1 = [0,1,2,3,4,5,6,7,8,9,10,11]

for x in L1:
    print(x**2,end=' ')
   
   
    if x%2==0:
        print('even')
    else:
        print('odd')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 11)

In [76]:
# iterable function

list(range(12))

# range function prints n values from 0 where n is the input 
# range(n) prints 0 to n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [77]:



for x in range(12):
    print(x**2,end=' ')
   
   
    if x%2==0:
        print('even')
    else:
        print('odd')

0 even
1 odd
4 even
9 odd
16 even
25 odd
36 even
49 odd
64 even
81 odd
100 even
121 odd

In [90]:
# by defailt start = 0
# by defauly step/sride = 1
# range(start: end : stride)

print(list(range(0,17))==list(range(17)))
print(list(range(0,17,1))==list(range(17)))

for i in range(0,27,2):
    print(i,end=' ')

    
# print all the even numbers and 0 till 27

True
True
0 2 4 6 8 10 12 14 16 18 20 22 24 26

In [91]:
# 6 to 93 all multiples of 3

for i in range(6,94,3):
    print(i,end=' ')

6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93

### Slicing

In [106]:
#list_name[start:end:steps]

# 6 to 93 all multiples of 3


L1 = list(range(94))

print(L1[6:94:3])


# Tell me this slcing works with which other data types

[6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93]

In [111]:
# write a program to get the last digit of a number
# take input form the user

x = input('enter a number below 1000:-')

print(int(x[-1]))
print(type(int(x[-1])))

enter a number below 1000:-99
9
<class 'int'>

In [114]:
a =True
b= True
c = True
print(not(a or b or not c))

False

In [113]:
a or b or False

True